In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
laptop = pd.read_csv('./data/laptop_price.csv', encoding='latin-1')
df = pd.read_csv('./data/laptops.csv')

In [40]:
laptop.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [41]:
laptop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [42]:
laptop.OpSys.value_counts()

Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         27
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: OpSys, dtype: int64

In [43]:
laptop.Product.value_counts()

XPS 13                                     30
Inspiron 3567                              29
250 G6                                     21
Legion Y520-15IKBN                         19
Vostro 3568                                19
                                           ..
15-bw007nv (A10-9620P/6GB/128GB/Radeon      1
SmartBook 130                               1
A541NA-GO342 (N3350/4GB/500GB/Linux)        1
17-X047na (i3-6006U/8GB/1TB/W10)            1
V330-15IKB (i5-8250U/4GB/500GB/FHD/W10)     1
Name: Product, Length: 618, dtype: int64

In [44]:
laptop.TypeName.value_counts()

Notebook              727
Gaming                205
Ultrabook             196
2 in 1 Convertible    121
Workstation            29
Netbook                25
Name: TypeName, dtype: int64

In [45]:
laptop.Ram.value_counts()

8GB     619
4GB     375
16GB    200
6GB      41
12GB     25
2GB      22
32GB     17
24GB      3
64GB      1
Name: Ram, dtype: int64

In [46]:
laptop['Ram'] = laptop['Ram'].str[:-2]
laptop['Weight'] = laptop['Weight'].str[:-2]
laptop.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60

In [47]:
laptop.OpSys.replace({'Windows 10 S':'Windows 10','Mac OS X':'macOS'},inplace=True)

In [48]:
laptop[['screen_width','screen_height']]=(
    laptop['ScreenResolution']
    .str[-9:]
    .str.split('x',expand=True)
)

In [49]:
def get_dummie(screen):
    if 'IPS Panel' in screen:
        return 1
    else:
        return 0

In [50]:
laptop['IPS Panel'] = laptop['ScreenResolution'].apply(get_dummie)

In [51]:
laptop['CPU Brand'] = laptop.Cpu.str.split(' ').apply(lambda x: x[0])
laptop['CPU GHz'] = (
    laptop.Cpu.str.split(' ').apply(lambda x: x[-1])
).str[:-3]

In [52]:
laptop['Gpu'] = laptop['Gpu'].str.split(' ').apply(lambda x:x[0])

In [53]:
laptop['MemoryAmount'] = laptop['Memory'].str.split(' ').apply(lambda x:x[0])
laptop['MemoryType'] = laptop['Memory'].str.split(' ').apply(lambda x:x[1])

In [54]:
def turn_TB_into_GB(value):
    if 'TB' in value:
        return float(value[:value.find('TB')]) * 1000
    elif 'GB' in value:
        return float(value[:value.find('GB')])

In [55]:
laptop['MemoryAmount'] = laptop['MemoryAmount'].apply(turn_TB_into_GB)

In [56]:
laptop['MemoryAmount'].value_counts()

256.0     508
1000.0    250
128.0     177
512.0     140
500.0     132
32.0       45
64.0       17
2000.0     16
16.0       10
180.0       5
240.0       1
8.0         1
508.0       1
Name: MemoryAmount, dtype: int64

In [57]:
laptop.Gpu.value_counts()

Intel     722
Nvidia    400
AMD       180
ARM         1
Name: Gpu, dtype: int64

## Changing Data Types

In [58]:
int64 = ['Ram','screen_width','screen_height','MemoryAmount']
float64 = ['Weight','CPU GHz']
def datatypes(df):
    for i in int64:
        df[i] = df[i].astype(int)
    for j in float64:
        df[j] = df[j].astype(float)

In [59]:
datatypes(df=laptop)

In [60]:
laptop.dtypes

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                   int64
Memory               object
Gpu                  object
OpSys                object
Weight              float64
Price_euros         float64
screen_width          int64
screen_height         int64
IPS Panel             int64
CPU Brand            object
CPU GHz             float64
MemoryAmount          int64
MemoryType           object
dtype: object

In [61]:
laptop.to_csv('./data/laptop-EDA.csv',index=False)

In [25]:
laptop = laptop.join(pd.get_dummies(laptop['CPU Brand'],prefix='CPU'))

In [26]:
laptop=laptop.drop(columns={'laptop_ID','Product','ScreenResolution','Cpu','Memory','CPU Brand'},axis=1)

In [27]:
laptop

,Company,TypeName,Inches,Ram,Gpu,OpSys,Weight,Price_euros,screen_width,screen_height,IPS Panel,CPU GHz,MemoryAmount,MemoryType,CPU_AMD,CPU_Intel,CPU_Samsung
0,Apple,Ultrabook,13.3,8,Intel,macOS,1.37,1339.69,2560,1600,1,2.3,128,SSD,0,1,0
1,Apple,Ultrabook,13.3,8,Intel,macOS,1.34,898.94,1440,900,0,1.8,128,Flash,0,1,0
2,HP,Notebook,15.6,8,Intel,No OS,1.86,575.00,1920,1080,0,2.5,256,SSD,0,1,0
3,Apple,Ultrabook,15.4,16,AMD,macOS,1.83,2537.45,2880,1800,1,2.7,512,SSD,0,1,0
4,Apple,Ultrabook,13.3,8,Intel,macOS,1.37,1803.60,2560,1600,1,3.1,256,SSD,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,2 in 1 Convertible,14.0,4,Intel,Windows 10,1.80,638.00,1920,1080,1,2.5,128,SSD,0,1,0
1299,Lenovo,2 in 1 Convertible,13.3,16,Intel,Windows 10,1.30,1499.00,3200,1800,1,2.5,512,SSD,0,1,0
1300,Lenovo,Notebook,14.0,2,Intel,Windows 10,1.50,229.00,1366,768,0,1.6,64,Flash,0,1,0
1301,HP,Notebook,15.6,6,AMD,Windows 10,2.19,764.00,1366,768,0,2.5,1000,HDD,0,1,0
1302,Asus,Notebook,15.6,4,Intel,Windows 10,2.20,369.00,1366,768,0,1.6,500,HDD,0,1,0

In [28]:
objects = laptop.select_dtypes('object').columns
objects

Index(['Company', 'TypeName', 'Gpu', 'OpSys', 'MemoryType'], dtype='object')

In [34]:
def dummies(df):
    for object in objects:
        column=pd.get_dummies(df[object])
        df=df.join(column)
        df = df.drop(object,axis=1)

In [35]:
dummies(df=laptop)

In [36]:
laptop

,Company,TypeName,Inches,Ram,Gpu,OpSys,Weight,Price_euros,screen_width,screen_height,IPS Panel,CPU GHz,MemoryAmount,MemoryType,CPU_AMD,CPU_Intel,CPU_Samsung
0,Apple,Ultrabook,13.3,8,Intel,macOS,1.37,1339.69,2560,1600,1,2.3,128,SSD,0,1,0
1,Apple,Ultrabook,13.3,8,Intel,macOS,1.34,898.94,1440,900,0,1.8,128,Flash,0,1,0
2,HP,Notebook,15.6,8,Intel,No OS,1.86,575.00,1920,1080,0,2.5,256,SSD,0,1,0
3,Apple,Ultrabook,15.4,16,AMD,macOS,1.83,2537.45,2880,1800,1,2.7,512,SSD,0,1,0
4,Apple,Ultrabook,13.3,8,Intel,macOS,1.37,1803.60,2560,1600,1,3.1,256,SSD,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,2 in 1 Convertible,14.0,4,Intel,Windows 10,1.80,638.00,1920,1080,1,2.5,128,SSD,0,1,0
1299,Lenovo,2 in 1 Convertible,13.3,16,Intel,Windows 10,1.30,1499.00,3200,1800,1,2.5,512,SSD,0,1,0
1300,Lenovo,Notebook,14.0,2,Intel,Windows 10,1.50,229.00,1366,768,0,1.6,64,Flash,0,1,0
1301,HP,Notebook,15.6,6,AMD,Windows 10,2.19,764.00,1366,768,0,2.5,1000,HDD,0,1,0
1302,Asus,Notebook,15.6,4,Intel,Windows 10,2.20,369.00,1366,768,0,1.6,500,HDD,0,1,0

In [33]:
laptop['memory-GB']=(
    laptop.Memory.str[0:3]
    .str.replace('TB','000')
    .str.strip('G')
    .str.strip('.0')
    .str.strip('GB')
).astype(int)

AttributeError: 'DataFrame' object has no attribute 'Memory'

In [ ]:
(laptop.Memory.str[-3:]
 .str.replace('age','Flash Storage')
 
 ).value_counts()

SSD    641
HDD    576
age     74
rid     12
Name: Memory, dtype: int64

In [ ]:
laptop.Memory.value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [ ]:
new_table=(
    laptop['Memory']
    .str.split(' ',expand=True)
)
new_table

          0      1        2     3     4     5     6
0     128GB    SSD     None  None  None  None  None
1     128GB  Flash  Storage  None  None  None  None
2     256GB    SSD     None  None  None  None  None
3     512GB    SSD     None  None  None  None  None
4     256GB    SSD     None  None  None  None  None
...     ...    ...      ...   ...   ...   ...   ...
1298  128GB    SSD     None  None  None  None  None
1299  512GB    SSD     None  None  None  None  None
1300   64GB  Flash  Storage  None  None  None  None
1301    1TB    HDD     None  None  None  None  None
1302  500GB    HDD     None  None  None  None  None

[1303 rows x 7 columns]

In [ ]:
new_table[2]

0          None
1       Storage
2          None
3          None
4          None
         ...
1298       None
1299       None
1300    Storage
1301       None
1302       None
Name: 2, Length: 1303, dtype: object

In [ ]:
new_table['RAM-GB']=(

new_table[0]
    .str.strip('TB')
    .str.strip('G')
    .str.strip('.0')
    .str.strip('GB')
    .astype(int)
)

In [ ]:
laptop['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [ ]:
new_table['RAM-GB'].replace([5,500],inplace=True)
new_table['RAM-GB'].replace([1,1000],inplace=True)
new_table['RAM-GB'].replace([2,2000],inplace=True)

In [ ]:
new_table['RAM-GB'].value_counts()

256    730
128    262
512    199
32      66
64      24
16      13
18       6
24       1
8        1
508      1
Name: RAM-GB, dtype: int64

In [ ]:
new_table['RAM1']=new_table[1].str.replace('Flash','Flash Storage')

In [ ]:
new_table

          0      1        2     3     4     5     6  RAM-GB           RAM1
0     128GB    SSD     None  None  None  None  None     128            SSD
1     128GB  Flash  Storage  None  None  None  None     128  Flash Storage
2     256GB    SSD     None  None  None  None  None     256            SSD
3     512GB    SSD     None  None  None  None  None     512            SSD
4     256GB    SSD     None  None  None  None  None     256            SSD
...     ...    ...      ...   ...   ...   ...   ...     ...            ...
1298  128GB    SSD     None  None  None  None  None     128            SSD
1299  512GB    SSD     None  None  None  None  None     512            SSD
1300   64GB  Flash  Storage  None  None  None  None      64  Flash Storage
1301    1TB    HDD     None  None  None  None  None      64            HDD
1302  500GB    HDD     None  None  None  None  None      64            HDD

[1303 rows x 9 columns]

In [ ]:
new_table[3].value_counts()

     207
+      1
Name: 3, dtype: int64

In [ ]:
new_table[4].value_counts()

1TB      184
2TB       15
256GB      3
500GB      2
1.0TB      2
512GB      1
           1
Name: 4, dtype: int64

In [ ]:
new_table['RAM-GB2']=(
    new_table[4]
    .str.strip('TB')
    .str.strip('GB')
    .str.strip('.0')
    .str.strip('')
)

In [ ]:
new_table['RAM-GB2'].value_counts()

1      186
2       15
256      3
5        2
512      1
         1
Name: RAM-GB2, dtype: int64

In [ ]:
new_table['RAM-GB2']=new_table['RAM-GB2'].str.replace(new_table['RAM-GB2'].unique()[6],'1')

In [ ]:

new_table['RAM-GB2'].fillna(0,inplace=True)
new_table['RAM-GB2'] = new_table['RAM-GB2'].astype(int)
new_table['RAM-GB2'] = new_table['RAM-GB2'].replace([1,1000])
new_table['RAM-GB2'] = new_table['RAM-GB2'].replace([5,500])
new_table['RAM-GB2'] = new_table['RAM-GB2'].replace([2,2000])

ValueError: invalid literal for int() with base 10: ''