## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Config

In [4]:
# Settings
sns.set()
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',200)
pd.options.display.float_format= '{:.2f}'.format

# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

Title_fontsize= 16

In [6]:
laptop = pd.read_csv('./data/laptop-EDA.csv')
laptop.head()

,Company,TypeName,Inches,Ram,Gpu,OpSys,Weight,Price_euros,screen_width,screen_height,IPS Panel,CPU GHz,MemoryAmount,MemoryType,CPU_AMD,CPU_Intel,CPU_Samsung
0,Apple,Ultrabook,13.30,8,Intel,macOS,1.37,1339.69,2560,1600,1,2.30,128,SSD,0,1,0
1,Apple,Ultrabook,13.30,8,Intel,macOS,1.34,898.94,1440,900,0,1.80,128,Flash,0,1,0
2,HP,Notebook,15.60,8,Intel,No OS,1.86,575.00,1920,1080,0,2.50,256,SSD,0,1,0
3,Apple,Ultrabook,15.40,16,AMD,macOS,1.83,2537.45,2880,1800,1,2.70,512,SSD,0,1,0
4,Apple,Ultrabook,13.30,8,Intel,macOS,1.37,1803.60,2560,1600,1,3.10,256,SSD,0,1,0